# ansible.cfg
# Tells Ansible where to find our inventory and a couple of basic settings.

[defaults]
# Use our dynamic inventory file instead of a static list of servers
inventory = inventory/aws_ec2.yml

# Skip the "are you sure you want to connect?" SSH prompt for new servers
host_key_checking = False

[inventory]
# Allow Ansible to use the AWS EC2 inventory plugin
enable_plugins = aws_ec2, auto, yaml, ini
